{%extends "registration/base.html"%} {% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row">
                        <img src="../../static/images/phones.png" class="img-responsive">
                        <!-- <div class="col-md-12">
                            <img src="../../static/images/phone1.png">
                        </div> -->
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>