<!-- Image and text -->
<nav class="navbar navbar-light" style="background-color:antiquewhite; border-bottom: gray;margin-bottom: 10px;"
    id="nav">
    <a class="navbar-brand" href="{% url 'home_page' %}">
        <img src="../static/images/insta.png" width="35" height="30" class="d-inline-block align-top"
            class="img-responsive" id="logo">
        <img src="../static/images/ina.jpeg" width="100" height="40" class="d-inline-block align-top"
            class="img-responsive" id="name">
    </a>
    <div class="row">
        <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
            <input type="text" class="form-control my-2 my-sm-0 search-input" name="search" placeholder="Search.."
                id="search">
        </form>
    </div>
    <div class="row" id="icon">
        <div class="col-md-3">
            <a href=""><i class="far fa-compass" style="font-size:20px;"></i></a>
        </div>
        &nbsp; &nbsp;
        <div class="col-md-3">
            <a href=""><i class="far fa-heart" style="font-size:20px;"></i></a>
        </div>
        &nbsp; &nbsp;
        <div class="col-md-3">
            <a href="{% url 'profile' username=request.user %}"><i class="far fa-user"
                    style="font-size:20px;">{{user}}</i></a>
        </div>
    </div>

</nav>