#logo{
    margin-left: 200px;
}
#search[type=text] {
    height:30px;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-size: 20px 20px;
    background-position-y: 0px;
}

#search[type=text]:focus {
    width: 100%;
}
#content{
    margin-top: 100px;
    background-color: whitesmoke;
}

#nav{
    border-bottom: 5px;
    border-bottom-color: grey;
    color:rgb(255, 255, 255);
}
.card-header{
    background-color:white;
}
#footer{
    background-color: white;
}
#icon{
    margin-right: 70px;
}
#icon a{
    color:black;
}
#login{
    background-color: white;
    align-items: center;
    margin-top: 30px;
    font-family: 'Cookie', cursive;
    font-size:20px;
}
#top{
    margin-top: 40px;
}
#no{
    margin-top: 20px;
    padding-top:20px;
    padding-bottom: 20px;
}
#on{
    margin-top: 20px;
    text-align: center;
}
#app{
    margin-top: 30px;
}

.form-text{
    type: hidden;
    display: none;
    visibility: hidden;
}
#user{
    margin-top: 20px;
    box-shadow: 12px;
    margin-left: 100px;
}
#like{
    /* margin-top:20px; */
    margin-left: 10px;

}
.comnt{
    margin-top: 1px;
}
#like a{
    color:rgb(5, 5, 5);
    margin-left: 10px;
    
    
}

:root {
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", Arial, sans-serif;
	min-height: 100vh;
	background-color: #fafafa;
	color: #262626;
	padding-bottom: 3rem;
}

img {
	display: block;
}

.container {
	max-width: 93.5rem;
	margin: 0 auto;
	padding: 0 2rem;
}
.btn {
	display: inline-block;
	font: inherit;
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
}

.btn:focus {
	outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
	padding: 5rem 0;
}

.profile::after {
	content: "";
	display: block;
	clear: both;
}

.profile-image {
	float: left;
	width: calc(33.333% - 1rem);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 3rem;
}

.profile-image img {
	border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
 {
	float: left;
	width: calc(66.666% - 2rem);
}
.profile-bio{
    float: left;
    width: calc(66.666% - 2rem);
    margin-top: 10px;
}
.profile-user-settings {
	margin-top: 1.1rem;
}

.profile-user-name {
	display: inline-block;
	font-size: 3.2rem;
	font-weight: 300;
}

