{%extends 'all_pages/base.html'%}
{% block content %}
{{block.super}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {% for item in image %}
            <div class="card mb-3" id="like">
                <div class="card-header">
                    <a href="profile/{{item.user.username}}/">
                        <div class="row">
                            <div class="">
                                <img src="{{item.profile.Profile_photo.url}}" alt="img" width="50px" height="50px"
                                    style="border-radius: 50%; margin-left: 10px;" class="img-responsive">
                            </div>
                            <div class="col-md-2" style="margin-top: 10px;font-weight: bold;">
                                <h4 class="card-title">{{item.user.username}}</h4>
                            </div>
                        </div>
                    </a>
                </div>
