{%extends 'main_pages/base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}

<header>

    <div class="container">

        <div class="profile">
            
            <div class="profile-image">

                <img src="{{profile.profile.Profile_photo.url}}" width="120px" height="120px " alt="" class="img-responsive">

            </div>

            <div class="profile-user-settings">

                <h1 class="profile-user-name">{{user.username}}</h1>
                
                <a href="{% url 'edit_profile' %}"><button class="btn profile-edit-btn">Edit Profile</button></a>
                {% if user.is_authenticated %}
                <ul>
                    <li class="dropdown btn profile-settings-btn" style="list-style:none;" aria-label="profile settings">
                        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                            aria-expanded="false"><i class="fas fa-cog" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'home_page'%}">Home</a>
                            </li>

                            <li>
                                <a href="/accounts/password/change">Change Password</a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <li>
                    <a class='btn btn-default' href="/accounts/login">Login</a>
                </li>

            </div>
            {% endif %}
            
            <div class="profile-stats">

                <ul>
                    <li><span class="profile-stat-count">{{profile.user.images|length}}</span> posts</li>
                    <li><span class="profile-stat-count">0</span> followers</li>
                    <li><span class="profile-stat-count">0</span> following</li>
                </ul>

            </div>

            <div class="profile-bio">

                <p><span class="profile-real-name">{{user.username}}</span>  <br> {{user.profile.Bio}}</p>

            </div>

        </div>
        <!-- End of profile section -->
        <button class="btn profile-edit-btn" data-toggle="modal" data-target="#myModal{{user.id}}">Add Post</button>
    </div>
    <!-- End of container -->

</header>
